@model IEnumerable<NewsModule.Models.News>
@{
    ViewData["Title"] = "Home Page";
}
        <header class="masthead" style="background-image: url('/img/news.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <div class="page-heading">
                              <h1>Haber Modülü</h1>
                            </div>
                            <span class="subheading">En Yeni Haberleri Görüntüleyin</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

<div class="container">
    <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  @foreach (var item in Model)
                    {
                         <!-- Post preview-->
                        <div class="post-preview">
                            <a asp-action="Post" asp-route-id="@item.Id">
                                <h2 class="post-title">
                                    @item.Title
                                </h2>
                                <h3 class="post-subtitle">
                                    @item.Subtitle
                                </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                @item.Author.Name
                                @item.CreateTime tarihinde yayınlandı
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    }
                   
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        </div>